# Telegram Bot
TELEGRAM_BOT_TOKEN=
ADMIN_TELEGRAM_ID=

# Postbox Integration
HUB_AUTH_SECRET=
POSTBOX_URL=https://postbox.finpipe.net

# Database & Statistics
DATABASE_URL=sqlite+aiosqlite:///./data/hub.db
APP_TIMEZONE=Europe/Belgrade
